.debug {
    border: 1px solid black;
}



nav {
    background-color: #155d94;
}

.navbar-brand {
    color: white;
}

a {
    text-decoration: none;

}

.main_menu {
    /* border: 1px solid black; */
    gap: 2rem;
    visibility: hidden;
    z-index: -1;

}

span a {
    color: white;
}





.box {
    display: flex;
    flex-direction: row-reverse;
}

.dropdown {

    position: relative;
    display: inline-block;

    color: gray;
}



input[type=checkbox] {
    display: none;
}


/* Click to expand button */

label {
    box-sizing: border-box;
    display: inline-block;
    width: 2rem;
    border: 1px solid gray;
    background-color: #155d94;
    /* padding: 15px 20px; */

    cursor: pointer;
    text-align: center;

}

label:hover {
    color: #4FB9A7;
    border: 1px solid #4FB9A7;
}



ul {
    background-color: #155d94;
    position: absolute;
    list-style: none;
    left: -8rem;


    width: 30em;
    overflow: hidden;



    z-index: 1;
    margin: 0;
    padding: 0;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */

    display: none;

}


ul li {
    width: 10rem;
    padding: 1rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    transform: translateX(3rem);
    text-align: center;

    color: #4FB9A7;
    /* border: 1px solid black; */

    cursor: pointer;
}

ul li a {
    color: #4FB9A7;
}

ul li:hover {
    background-color: #4FB9A7;
    transform: scale(1.1);
    color: black;
}




input[type=checkbox]:checked~label {
    background-color: #4FB9A7;
    color: #155d94;

}


input[type=checkbox]:checked~ul {
    display: block;
}

@media screen and (min-width: 768px) {
    .dropdown {
        display: none;
    }

    .main_menu {
        visibility: visible;
        z-index: 3;
    }
}