.debug {
    border: 1px solid black;
}

.box {
    display: flex;
    justify-content: flex-end;
}

.dropdown {

    position: relative;
    display: inline-block;

    color: gray;
}



input[type=checkbox] {
    display: none;
}


/* Click to expand button */

label {
    box-sizing: border-box;
    display: inline-block;
    width: 2rem;
    border: 1px solid gray;
    background-color: #155d94;
    /* padding: 15px 20px; */

    cursor: pointer;
    text-align: center;

}

label:hover {
    color: #4FB9A7;
    border: 1px solid #4FB9A7;
}



ul {
    background-color: #155d94;
    position: absolute;
    list-style: none;
    left: -8rem;


    width: 10rem;


    z-index: 1;
    margin: 0;
    padding: 0;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */
    border-radius: 10px 0 10px 0;
    display: none;

}


ul li {
    width: 10rem;
    padding: 1rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: right;

    color: #4FB9A7;
    /* border: 1px solid black; */

    cursor: pointer;
}

ul li:hover {
    background-color: #4FB9A7;
    transform: scale(1.1);
    color: black;
}


/* ul li a {
     color: gray;
     text-decoration: none;
 }
 */



input[type=checkbox]:checked~label {
    background-color: #4FB9A7;
    color: #155d94;

}


input[type=checkbox]:checked~ul {
    display: block;
}