:root {
    --boot-primary: rgba(26, 188, 156, 1);
    --boot-secondary: rgba(58, 84, 109, 1);
    --boot-dark: rgba(44, 62, 80, 1);
    --boot-lighter: rgba(255, 255, 255, 1);
    --boot-darker: rgba(61, 61, 61, 1);
}


body {
    min-width: 357px;
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    background-color: var(--boot-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.offcanvas {
    background-color: var(--boot-secondary);
    height: 100vh;
}



.navbar a {
    color: var(--boot-lighter);
}

.navbar-brand:hover,
.navbar-nav a:hover {
    color: var(--boot-primary);
}



#jumbo {
    margin-top: 3rem;
}

#jumbo,
#about {

    padding-top: 2.5rem;
    padding-bottom: 2rem;
    background-color: var(--boot-primary);
    color: var(--boot-lighter);
}

.my_container {
    width: 60%;
    margin: auto;
}

#portfolio .line,
#contact .line {
    background-color: var(--boot-darker);
}

.line {
    background-color: var(--boot-lighter);
    height: 3px;
    width: 5rem;
}

#portfolio,
#about,
#contact {
    padding: 3rem 0;
}

#portfolio .decoration {
    padding-bottom: 1rem;
}

#portfolio img {
    height: 250px;


}

.rounded:hover {

    transform: translatey(-6rem);
}

#about .btn {
    border: 2px solid var(--boot-lighter);
}

#about a {
    color: var(--boot-lighter);
    text-decoration: none;
}

#about button:hover,
#contact [type="button"]:hover {
    cursor: pointer;
    background-color: var(--boot-secondary);
}

form input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: .5rem 0;
    overflow: hidden;
    margin: .5rem 0;
}

textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid black;

}

[type="number"] {
    overflow: auto;
}

input[type="button"] {
    border: none;

    width: 4rem;
    border-radius: 3px;
    background-color: var(--boot-primary);
    color: white;
}

.footer_top {
    background-color: var(--boot-secondary);
    padding: 3rem 0;
    color: white;
}

.icons {
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateX(-.5rem);

}

.icons ul {
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-between;


}

.icons li {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    border: 1px solid white;

}

.icons li:hover {
    background-color: var(--boot-primary);
    cursor: pointer;
}

.icons a {
    color: white;
}

.creator {
    color: var(--boot-primary);
}

.footer_bottom {
    background-color: var(--boot-dark);
    padding: 3rem 0;
    color: white;

}


@media screen and (min-width: 576px) {
    #portfolio img {
        height: 180px;
    }

    .icons ul {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    #jumbo img {
        height: 200px;
    }

    #portfolio img {
        height: 160px;
    }
}

@media screen and (min-width: 992px) {
    #portfolio img {
        height: 220px;
    }
}

@media screen and (min-width: 1200px) {
    #portfolio img {
        height: 260px;
    }
}

@media screen and (min-width: 1400px) {
    #portfolio img {
        height: 300px;
    }
}